
#logo{
    border: 1px solid red;
    width: 80px;
  
}



 .logo-returnal{
     border: 2px solid red;
     width: 250px;
     margin-top: 200px;
}

.logo-returnal img{
    width: 100%;
 }
 




.row{
    border: 1px solid green;
}

[class^='col']{
    border: 2px solid dodgerblue;
}

section
{
    border: 2px dashed blue;
}

#card-game, #ps5, #ps4, #ps-store-buy, footer {
    
    min-height: 700px;
}


#jumbotron, #ps-plus, #ps-now, #social-media{
    min-height: 500px;
}
 

.returnal{
    background-image: url('/img/jumbo-bg.png');
    background-position: center;
    background-size: cover;
}

footer{
    min-height: 700px;
    border: 2px dashed red;
}

