body {
    margin-top: 110px;
}


/* UTILITY */
.fig-radius {
    border-radius: 10px;
    overflow: hidden;
}

figure img {
    width: 100%;
}


.card-rounded {
    border-radius: 20px;
}


/* *********HEADER********** */

header {
    z-index: 1;
}

#logo {
    border: 1px solid red;
    width: 80px;

}

/* ********JUMBOTRON RETURNAL********** */
.logo-jumbotron {
    border: 2px solid red;
    width: 250px;
}

.returnal {
    background-image: url('/img/jumbo-bg.png');
    background-position: center;
    background-size: cover;
}


.logo-jumbotron img {
    width: 100%;
}

.returnal {
    min-height: 500px;

}

/* *********JUMBOTRON TAKES TWO*********** */

.takes-two {
    background-image: url('/img/it-takes-two-hero-banner-desktop.jpg');
    background-position: center;
    background-size: cover;
}

.logo-takes-two {
    width: 350px;
    margin-top: 50px;
}

.logo-takes-two img {
    width: 100%;
}





.row {
    border: 1px solid green;
}

[class^='col'] {
    border: 2px solid dodgerblue;
}

section {
    border: 2px dashed blue;
}



#ps-plus {
    background-color: #BEBCBB;
}

#ps-now {
    background-color: #161C3B;
}


footer {
    border: 2px dashed red;
    background-color: #00439C;
}

.fig-sie-logo {
    width: 150px;
}