/* GENERAL */
body {
    margin-top: 100px;
}

/* UTILITY */
.fig-radius {
    border-radius: 10px;
    overflow: hidden;
}

figure img {
    width: 100%;
}

.card-rounded {
    border-radius: 20px;
}

a{
    cursor: pointer;
}

/* color */
:root{
    --light-grey: #BEBCBB;
    --night-blue: #161C3B;
    --light-blue: #00439C;
}

.light-grey {
    background-color: var(--light-grey);
}

.light-blue {
    background-color: var(--light-blue);
}

.night-blue{
    background-color: var(--night-blue);
}


/* *********HEADER********** */
header {
    z-index: 1;
}

#logo {
    width: 80px;
}

.lens{
    width: 30px;
}

.chevron-down{
    width: 10px;
}

/* ********JUMBOTRON RETURNAL********** */
.returnal {
    background-image: url('/img/jumbo-bg.png');
    background-position: top;
    background-size: cover;
}

.logo-jumbotron img {
    width: 100%;
}

.returnal {
    min-height: 600px;
}

/* *********JUMBOTRON TAKES TWO*********** */
.takes-two {
    background-image: url('/img/it-takes-two-hero-banner-desktop.jpg');
    background-position: center;
    background-size: cover;
}

/* ***********JUMBOTRON PS PLUS************ */
#ps-plus {
  max-height: 400px;
}

.ps-plus-img{
    max-height: 400px;
}


/* ********FOOTER********** */
.lenguage-globe{
    width: 15px;
}

.fig-sie-logo {
    width: 150px;
}