
#logo{
    border: 1px solid red;
    width: 80px;
  
}



 .logo-jumbotron{
     border: 2px solid red;
     width: 250px;
/*      margin-top: 200px; */
}

.logo-jumbotron img{
    width: 100%;
}
 

figure{
    border-radius: 10px;
    overflow: hidden;
}

figure img{
    width: 100%;
}


.takes-two{
    background-image: url('/img/it-takes-two-hero-banner-desktop.jpg');
    background-position: center;
    background-size: cover;
}

.logo-takes-two{
    width: 350px;
    margin-top: 50px;


}

.logo-takes-two img{
    width: 100%;
}

.card-rounded{
    border-radius: 20px;
}

.row{
    border: 1px solid green;
}

[class^='col']{
    border: 2px solid dodgerblue;
}

section
{
/*     min-height: 400px;
 */    border: 2px dashed blue;
}

.returnal{
    min-height: 500px;

}

.ps-plus-img{
    width: 100%;
}

/* #card-game, #ps5, #ps4, #ps-store-buy, footer {
    
    min-height: 700px;
} */

/* 
#jumbotron, #ps-plus, #ps-now, #social-media{
    min-height: 500px;
}
  */

#ps-plus{
    background-color: #BEBCBB;
}

.returnal{
    background-image: url('/img/jumbo-bg.png');
    background-position: center;
    background-size: cover;
}


/* #ps-plus-img{
    background-image: url('../img/ps-plus-april-monthly-games-featured-image-block.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 600px;
} */






footer{
    min-height: 700px;
    border: 2px dashed red;
}

