#logo {
    border: 1px solid red;
    width: 80px;

}


.logo-jumbotron {
    border: 2px solid red;
    width: 250px;
}

.logo-jumbotron img {
    width: 100%;
}


.fig-radius {
    border-radius: 10px;
    overflow: hidden;
}

figure img {
    width: 100%;
}


.takes-two {
    background-image: url('/img/it-takes-two-hero-banner-desktop.jpg');
    background-position: center;
    background-size: cover;
}

.logo-takes-two {
    width: 350px;
    margin-top: 50px;
}

.logo-takes-two img {
    width: 100%;
}

.card-rounded {
    border-radius: 20px;
}

.row {
    border: 1px solid green;
}

[class^='col'] {
    border: 2px solid dodgerblue;
}

section {
    border: 2px dashed blue;
}

.returnal {
    min-height: 500px;

}

#ps-plus {
    background-color: #BEBCBB;
}

#ps-now{
    background-color: #161C3B;
}

/* .ps-plus-img {
    border: 2px solid red;
    width: 100%;
} */


.returnal {
    background-image: url('/img/jumbo-bg.png');
    background-position: center;
    background-size: cover;
}



footer {
    min-height: 700px;
    border: 2px dashed red;
    background-color: #00439C;
}

