/* GENERAL */
body {
    padding-top: 100px;
}

/* UTILITY */
.fig-radius {
    border-radius: 10px;
    overflow: hidden;
}

figure img {
    width: 100%;
}

.card-rounded {
    border-radius: 20px;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: black;
    display: contents;
}

.pointer {
    cursor: pointer;
}


/* hover */

a:hover {
    color: blue;
}

a:hover {
    box-shadow: inset 0 0 0 3px white;
}

.btn-light:hover {
    box-shadow: inset 0 0 0 3px black;
}

.up:hover {
    transition: 0.3s;
    margin-top: -15px;
}


.layover {
    opacity: 0.5;
}

.layover:hover {
    transition: 0.5s;
    opacity: 1;
    box-shadow:  0px 2px 0px 0px blue;
}



/* color */
:root {
    --light-grey: #BEBCBB;
    --night-blue: #161C3B;
    --light-blue: #00439C;
}

.light-grey {
    background-color: var(--light-grey);
}

.light-blue {
    background-color: var(--light-blue);
}

.night-blue {
    background-color: var(--night-blue);
}



/* *********HEADER********** */
header {
    z-index: 1;
}

#logo {
    width: 80px;
}

.lens {
    width: 30px;
}

/* ********JUMBOTRON RETURNAL********** */
#returnal {
    background-image: url('../img/jumbo-bg.png');
    background-position: top;
    background-size: cover;
    min-height: 600px;
}

.logo-jumbotron img {
    width: 100%;
}

/* *********JUMBOTRON TAKES TWO*********** */
#takes-two {
    background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
    background-position: center;
    background-size: cover;
}

/* ***********JUMBOTRON PS PLUS************ */
#ps-plus {
    max-height: 400px;
}

.ps-plus-img {
    max-height: 315px;
}


/* ********FOOTER********** */
.lenguage-globe {
    width: 15px;
}

.fig-sie-logo {
    width: 150px;
}