header{
    min-height: 100px;
    border: 2px dashed red;
}

#logo{
    border: 1px solid red;
    width: 80px;
  
}

.header-top{
    height: 40px;
}


.row{
    border: 1px solid green;
}

[class^='col']{
    border: 2px solid dodgerblue;
}

section
{
    border: 2px dashed blue;
}

#card-game, #ps5, #ps4, #ps-store-buy, footer {
    
    min-height: 700px;
}


#jumbotron, #ps-plus, #ps-now, #social-media{
    min-height: 500px;
}


footer{
    min-height: 700px;
    border: 2px dashed red;
}

